.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    .gallery-item {
        width: 100%;
        padding-left: 30px;
        margin-bottom: 30px;
        @include sm {
            width: percentage(1/2);
        }
        @include lg {
            width: percentage(1/3);
        }
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
    .gallery-figure {
        @include prefix(border-radius, 10px, webkit ms);
        overflow: hidden;
        background-color: $color-white;
        box-shadow: 0 1px 1px rgba($color-black,0.1),0 2px 2px rgba($color-black,0.1); //Option 1
        box-shadow: 0 1px 10px 0 rgba($color-black,.1); //Option 2
    }
    .gallery-caption {
        padding: 20px 10px;
    }
}