[hidden] {
    display: none;
}

body {
    background: $body-background-global-color;
    &.page-home {
        background: $body-background-home-color;
    }
}

.wrapper {
    @extend %clearfix;
    margin: 0 auto;
    padding: 0 20px;
    @include md {
        padding: 0 40px;
    }
    &.large {
        max-width: 1400px;
    }
    &.small {
        max-width: 800px;
    }
    &.center {
        text-align: center;
    }
}

p {
    margin: 24px 0;
}