#site-header {
    @extend %clearfix;
    padding: 50px 0;
    line-height: 50px;
    color: $header-text-color;
    background: $header-background-color;
    box-shadow: 0 1px 1px rgba($color-black,0.1),0 2px 2px rgba($color-black,0.1); //Option 1
    box-shadow: 0 1px 10px 0 rgba($color-black,.1); //Option 2
    .page-project & {
        background: transparent;
        box-shadow: none;
    }
}

.header-logo {
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 70px;
    color: $header-text-color;
        .header-text-dark & {
            color: $header-text-dark-color;
        }
        .header-text-light & {
            color: $header-text-light-color;
        }
    a {
        display: block;
    }
    span {
        @extend .black;
    } 
}

#site-logo {
    display: block;
    float: left;
    margin: 15px 10px 0 0;
    fill: $color-green;
    .header-text-dark & {
        fill: $header-text-dark-color;
    }
    .header-text-light & {
        fill: $header-text-light-color;
    }
}

.header-navigation {
    float: right;
    font-size: 18px;
}